{% extends 'user_base.html' %}        

{% load i18n %}


{% block content %}
  <h2>{% trans "Upload your files!"%}</h2>
  <form action="/upload/" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <p>{% trans "Please specify a file:"%}<br>
      <input type="text" name="title" size="30">
      <input id="sym-file" name="file" type="file" accept=".sym" multiple size="40">
    </p>
      <input value="{% trans "Submit"%}" type="submit" class='btn btn-primary'>
  </form>

{% endblock %}
