{% extends 'login_base.html' %}

{% load i18n %}

{% block content %}

 <div class="col-sm-3 col-sm-offset-5"> 
   <h1> {% trans "Join Now"%}</h1>
     <form method='POST' action="{% url 'register' %}"> {% csrf_token %}
     	{% if form.errors %}
          <p style="color: red;">
             Please correct the error{{ form.errors|pluralize }} below.
           </p>
       {% endif %}

	<table>
         {{ form.as_table }}
	</table>
        <input value="{% trans "Submit"%}" type="submit" class='btn btn-primary btn-block'>
     </form>
 </div> 


{% endblock %}     
